[submodule "vimfiles/snippets"]
	path = vimfiles/snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/abolish"]
	path = vimfiles/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/rails"]
	path = vimfiles/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vimfiles/bundle/unimpaired"]
	path = vimfiles/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/haml"]
	path = vimfiles/bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vimfiles/bundle/markdown"]
	path = vimfiles/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vimfiles/bundle/git"]
	path = vimfiles/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vividchalk"]
	path = vimfiles/bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vimfiles/bundle/afterimage"]
	path = vimfiles/bundle/afterimage
	url = git://github.com/tpope/vim-afterimage.git
[submodule "vimfiles/bundle/ragtag"]
	path = vimfiles/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/bundle/speeddating"]
	path = vimfiles/bundle/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "vimfiles/bundle/fsharp"]
	path = vimfiles/bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
