[submodule "vimfiles/snippets"]
	path = vimfiles/snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/abolish"]
	path = vimfiles/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/rails"]
	path = vimfiles/bundle/rails
	url = git://github.com/tpope/vim-rails.git
